

#condicion para eliminar index.php en la url
RewriteEngine on
RewriteBase /felipeCubillos
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]


