/* estilos para login */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

/* opciones custom nav */
#nav__id
{
    background-color: hsl(202, 22%, 90%) !important;
    border-radius: 15px;
    opacity: 0.8;
    
}

#ventana_modal
{
    background-color: hsla(0, 0%, 96%, 0) !important;
    
    
}
#modal-content
{
    background-color: azure;
}
/* facebook config */
.face_cont{
    max-width: 100% !important;
    max-height: 100% !important;
    align-content: center;
}
/* end fb config */

/* configuracion img index */
.img_custom
{
    border-radius: 2em;
}
/* config titulos inicio    */
.titulo-modal
{
    font-family: 'Alfa Slab One', cursive;
}
/*vision mision*/
.icono-VM 
{
    color: rgb(245, 19, 12);
    font-family: 'Bungee Shade', cursive;
}
#logoEscuela
{
    width: 2em;
    height: 2vh;
}

/*edicion colores iconos*/
.fa-lightbulb{color: rgba(232, 244, 9, 0.67);
    text-shadow: 0 0 0.1em rgb(255, 255, 4), 0 0 0.2em rgb(238, 255, 0);
}
.fa-paper-plane
{
    color: gray;
    text-shadow: 0 0 0.1em rgb(159, 159, 155), 0 0 0.2em rgb(83, 83, 81);
}
/*cambio de fuentes*/
.parrafo{font-family: 'Pacifico', cursive; font-size: 18px !important;}
.row p{color: rgb(68, 67, 67) !important;}
.tituloParrafo{font-family: 'Potta One', cursive;}
.tituloMarcado{font-family: 'Potta One', cursive; color: rgb(253, 2, 2);}
.fuenteNav{font-family: 'Frijole', cursive;}
.tituloPrincipal{font-family: 'Pacifico',cursive !important;}
.logLetter
{
    font-family: 'Potta One', cursive !important; color: #ffff !important ;
    
}
.center-form
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-content
{
    display: flex;
    position: relative;
    align-items: left !important;
    justify-content: left !important;
    padding: right 200px !important;
}
.espacio
{
    height: 90px;
}

